@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Armada Youth Academy Evaluations</h1>
    <p class="lead">Here you can register for upcoming evaluation sessions.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upcoming Evaluations</h2>
        <p>
            Learn about upcoming evaluation sessions, dates, locations, and available teams.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Use this link to register for upcoming evaluations.</p>
        <p><a class="btn btn-default" href= "/Account/Register" >Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Armada Youth Academy</h2>
        <p>Learn more about the Armada Youth Academy by visiting the club website.</p>
        <p><a class="btn btn-default" href="http://armadafcyouth.com/">Learn more &raquo;</a></p>
    </div>
</div>